.container { 
    display: flex;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 500px;
    padding: 16px;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.error {
    color: red;
    margin: 0;
}